@font-face {
  font-family: 'iconfont';  /* project id 809185 */
  src: url('//at.alicdn.com/t/font_809185_bvt50ox8vcr.eot');
  src: url('//at.alicdn.com/t/font_809185_bvt50ox8vcr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_809185_bvt50ox8vcr.woff') format('woff'),
  url('//at.alicdn.com/t/font_809185_bvt50ox8vcr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_809185_bvt50ox8vcr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// article
.icon-date:before { content: "\e60d"; }
.icon-watch:before { content: "\e653"; }
.icon-comment:before { content: "\e605"; }
.icon-like:before { content: "\e622"; }
.icon-classify:before { content: "\e6bd"; }

// tags
.icon-tags:before { content: "\e61d"; }
.icon-vue:before { content: "\f25f"; }
.icon-php:before { content: "\f20e"; }
.icon-gulp:before { content: "\f1c9"; }
.icon-bootstrap:before { content: "\e620"; }
.icon-xiaochengxu:before { content: "\e61e"; }
.icon-webpack:before { content: "\e65b"; }
.icon-jquery:before { content: "\e655"; }
.icon-react:before { content: "\e64b"; }
.icon-nginx:before { content: "\e63c"; }
.icon-npm:before { content: "\e610"; }
.icon-books:before { content: "\e613"; }
.icon-music:before { content: "\e674"; }
.icon-emoji:before { content: "\e62a"; }
.icon-html5:before { content: "\e6bb"; }
.icon-chrome:before { content: "\e684"; }
.icon-android:before { content: "\e67c"; }
.icon-angular:before { content: "\e619"; }
.icon-ai:before { content: "\e612"; }
.icon-js:before { content: "\e899"; }
.icon-shejiao:before { content: "\e62d"; }
.icon-sql:before { content: "\e6f5"; }
.icon-anquan:before { content: "\e633"; }
.icon-ios:before { content: "\e676"; }
.icon-egg:before { content: "\e6d8"; }
.icon-others:before { content: "\e62c"; }
.icon-java:before { content: "\e746"; }
.icon-css3:before { content: "\e6b1"; }
.icon-centos:before { content: "\e69a"; }
.icon-nodejs:before { content: "\e989"; }
.icon-git:before { content: "\e897"; }
.icon-note:before { content: "\e603"; }
.icon-sass:before { content: "\e917"; }
.icon-aliyun:before { content: "\e602"; }
.icon-echarts:before { content: "\e604"; }

// slide
.icon-search:before { content: "\e607"; }
.icon-tuiguang:before { content: "\e601"; }
.icon-tuijian:before { content: "\e623"; }
.icon-top:before { content: "\e600"; }

// console
.icon-console:before { content: "\e639"; }
.icon-zoom-out:before { content: "\e750"; }
.icon-zoom-in:before { content: "\e66c"; }
.icon-restore:before { content: "\e606"; }
.icon-close:before { content: "\e60b"; }

// music
.icon-m-sym:before { content: "\e6b7"; }
.icon-m-play:before { content: "\e645"; }
.icon-m-pause:before { content: "\e608"; }
.icon-m-stop:before { content: "\e61f"; }
.icon-m-prev:before { content: "\e626"; }
.icon-m-next:before { content: "\f260"; }
.icon-m-vol:before { content: "\e621"; }
